@import "./utils/reset";
@import "./utils/fonts";
@import "./utils/dark-theme";

* {
	font-family: "Nunito Sans";
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	min-width: 375px;
	background: #FAFAFA;
}

#app {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		font-size: 21px;
		font-weight: 800;

		@media (max-width: 500px) {
			font-size: 17px;
		}
	}

	&__theme {
		display: flex;
		align-items: center;
		column-gap: 10px;
		cursor: pointer;

		& > svg {
			width: 15px;
			height: 15px;
		}

		&:hover {
			opacity: 0.7;
		}
	}

	&__theme-text {
		font-size: 16px;
		font-weight: 600;

		@media (max-width: 500px) {
			font-size: 15px;
		}
	}
}

.header {
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;

	&__content {
		width: 100%;
		max-width: 1440px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 25px 75px;

		@media (max-width: 500px) {
			padding: 30px 20px;
		}
	}
}

.content {
	width: 100%;
	max-width: 1440px;
	padding: 45px 75px;

	@media (max-width: 500px) {
		padding: 30px 20px;
	}

	&__control {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 700px) {
			flex-direction: column;
			align-items: flex-start;
			row-gap: 40px;
		}
	}

	&__search-container {
		min-width: 480px;
		display: flex;
		align-items: center;
		padding: 18px 30px;
		box-shadow: 0 2px 10px 0 rgba(34, 60, 80, 0.1);
		border-radius: 5px;

		& > svg {
			width: 20px;
			left: 30px;
			opacity: 0.6;
		}

		@media (max-width: 900px) {
			min-width: 53%;
		}
		@media (max-width: 700px) {
			min-width: 100%;
		}
	}

	&__search {
		font-size: 13px;
		padding: 0 0 0 20px;
		width: 100%;

		&:focus::-webkit-input-placeholder {
			color: transparent;
		}

		&:focus::-moz-placeholder {
			color: transparent;
		}

		&:focus:-moz-placeholder {
			color: transparent;
		}

		&:focus:-ms-input-placeholder {
			color: transparent;
		}
	}

	&__list {
		margin-top: 45px;
	}
	&__dropdown {
		position: relative;
	}
	&__category {
		min-width: 200px;
		display: flex;
		align-items: center;
		column-gap: 50px;
		cursor: pointer;
		box-shadow: 0 2px 10px 0 rgba(34, 60, 80, 0.1);
		background: #FFFFFF;
		border-radius: 5px;
		padding: 18px 20px;
		position: relative;

		&:hover {
			opacity: 0.7;
		}

		& > svg {
			width: 10px;
			position: absolute;
			right: 20px;
		}
	}

	&__back-country {
		min-width: 130px;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 8px;
		cursor: pointer;
		box-shadow: 0px 0px 9px 0px rgba(34, 60, 80, 0.3);
		border-radius: 5px;
		padding: 9px 20px;
		position: relative;

		&:hover {
			opacity: 0.7;
		}

		& > svg {
			width: 16px;
		}
	}

	&__back-text {
		font-size: 16px;
	}

	&__country-description {
		margin-top: 35px;
	}

	&__dropdown-list {
		display: none;
		position: absolute;
		background: #FFFFFF;
		top: 110%;
		width: 100%;
		box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.2);
		border-radius: 5px;
		z-index: 10;

		&.active {
			display: flex;
		}
	}

	&__region-list {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		padding: 15px 0;
	}

	&__region-item {
		font-size: 13px;
		font-weight: 600;
		padding: 3px 20px;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
			background: #F1F1F1;
		}
	}

	&__category-text {
		font-size: 13px;
		font-weight: 600;
	}

	&__cards {
		margin-top: 45px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		grid-gap: 75px;

		@media (max-width: 500px) {
			grid-gap: 50px;
			padding: 0 40px;
		}
	}
}


