.country {
	margin-top: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__flag {
		width: 43.5% !important;
		height: 0!important;
		padding-bottom: 31%;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center !important;

		@media (max-width: 800px) {
			width: 100%!important;
			padding-bottom: 65%!important;

		}
	}

	@media (max-width: 1300px) {
		align-items: flex-start;
	}

	@media (max-width: 800px) {
		flex-direction: column;
	}

	&__description {
		width: 47%;

		@media (max-width: 800px) {
			margin-top: 50px;
			width: 100%;
		}
	}

	&__title {
		font-size: 31px;
		font-weight: 800;
	}

	&__desc {
		display: flex;
		justify-content: space-between;

		@media (max-width: 500px) {
			flex-direction: column;
		}
	}

	&__item {
		display: flex;
		flex-wrap: wrap;
		column-gap: 4px;
	}

	&__desc-list {
		width: 43%;
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		row-gap: 10px;

		@media (max-width: 500px) {
			width: 100%;
			row-gap: 5px;
		}
	}

	&__desc-text {
		font-size: 16px;
		font-weight: 600;
	}

	&__border {
		margin-top: 70px;
		display: flex;
		align-items: baseline;
		column-gap: 10px;

		@media (max-width: 500px) {
			margin-top: 30px;
			flex-direction: column;
			row-gap: 10px;
		}
	}

	&__border-list {
		display: flex;
		align-items: center;
		column-gap: 8px;
		flex-wrap: wrap;
		row-gap: 10px;
	}

	&__border-item {
		min-width: 100px;
		padding: 4px 5px;
		box-shadow: 0px 0px 9px 0px rgba(34, 60, 80, 0.3);
		border-radius: 3px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: opacity 0.1s;

		&:hover {
			opacity: 0.6;
		}
	}

	&__border-text {
		font-size: 16px;
		font-weight: 600;
		display: flex;
		align-items: center;
		white-space: nowrap;
	}
}